input[type="file"]{
	visibility: hidden;
}

.image-preview{
	height:5rem;
	margin:1rem 0;
}

.image-preview img{
	height: 100%
}

.right {
	height: 300px;
  width: 50%;
 
 float: right;
 padding: 0 20px 20px 0;
}
